.match-the-set {
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(5, minmax(130px, 300px));
	gap: 0.5vw;
	justify-items: center;
	align-items: center;
	margin: 0 auto;
	overflow: hidden;
}
.game-card {
	padding-bottom: 76.9%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	border: 1px solid #ffffff;
	border-radius: 10%;
	width: 100%;
}
