.change-password {
	font-family: "Poppins";
	font-weight: 400;
	font-style: normal;
	font-size: clamp(16px, 1vw, 26px);
	color: #b5b4ba;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		row-gap: 10px;
		.form-message {
			font-size: clamp(20px, 1.5vw, 30px);
			color: limegreen;
		}
		.error {
			color: tomato;
		}
		.field {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 10px;

			input {
				background-color: #0a111f;
				width: 300px;
				&:focus {
					outline: 2px solid #4361ee;
				}
				&:hover {
					outline: 2px solid #4361ee;
				}
			}
		}
		button {
			background-color: #4361ee;
			border: 2px solid #4361ee;
			color: rgb(224, 224, 224);
			border-radius: 30px;
			transition: all 0.7s ease;
			padding: 0 10px;
			&:hover {
				background-color: transparent;
			}
		}
	}
}
