.main {
	flex: 1 1 auto;
}

.ProductList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ProductCard {
	display: flex;
	flex-direction: column;
	flex: 0 1 calc(20% - 10px);
	min-width: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: rgba(61, 101, 135, 0.735);
	&:nth-child(5n) {
		margin-right: 0;
	}
	@media (max-width: 1385px) {
		&:nth-child(5n) {
			margin-right: 10px;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	@media (max-width: 1125px) {
		&:nth-child(4n) {
			margin-right: 10px;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	@media (max-width: 865px) {
		&:nth-child(3n) {
			margin-right: 10px;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	img {
		padding: 10px;
	}
	span {
		padding: 10px;
		font-size: 20px;
		color: red;
		text-align: justify;
	}
}
