.profile-form {
	display: flex;
	flex-direction: column;
	.form-message {
		font-size: clamp(20px, 1.5vw, 30px);
		color: limegreen;
	}
	.form-error {
		font-size: clamp(20px, 1.5vw, 30px);
		color: tomato;
	}
}
