.hearder {
	display: flex;
	padding: 40px;
	position: relative;
	z-index: 10;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.logo {
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	a {
		font-family: "Spicy Rice";
		font-weight: 400;
		font-style: normal;
		font-size: 40px;
		color: white;
	}
}
.menu {
	& *:not(:first-child) {
		pointer-events: none;
		opacity: 0.5;
	}
	.active {
		color: #4361ee;
	}
	ul {
		display: flex;
		justify-content: center;
		gap: 30px;
	}
	a {
		font-family: "Open Sans";
		font-weight: 600;
		font-style: normal;
		font-size: clamp(16px, 0.9vw, 20px);
		color: #d2d0da;
		transition: all 0.6s ease;

		&:hover {
			color: #4361ee;
		}
	}
}

.auth {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	display: flex;
	gap: 15px;
}
